<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Gestion de voiture</h1>
        <p>
            <%voitures.forEach(function(datas){%>
                <%= datas.marque%>
            </p> <% }); %>
        </p>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
